{
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest", "@typescript-eslint", "react-hooks", "styled-components-a11y", "import"],
  "extends": [
    "airbnb-typescript",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:styled-components-a11y/recommended"
  ],
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": "error",
    "import/prefer-default-export": ["off"],
    "react/jsx-props-no-spreading": ["off"]
  },
  "overrides": [
    {
      "files": ["src/**/*.stories.tsx", "src/testing.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  }
}
